In [9]:
import numpy as np
import pandas as pd

from IPython.core.display import display, HTML
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.io as pio


import seaborn as sns
from importlib import reload
import matplotlib.pyplot as plt
import matplotlib
import warnings

In [10]:
# Configure Jupyter Notebook
pd.set_option('display.max_columns', None) 
pd.set_option('display.max_rows', 500) 
pd.set_option('display.expand_frame_repr', False)
# pd.set_option('max_colwidth', -1)
display(HTML("<style>div.output_scroll { height: 35em; }</style>"))

reload(plt)
%matplotlib inline
%config InlineBackend.figure_format ='retina'

warnings.filterwarnings('ignore')

# configure plotly graph objects
pio.renderers.default = 'iframe'
pio.renderers.default = 'vscode'

pio.templates["ck_template"] = go.layout.Template(
    layout_colorway = px.colors.sequential.Viridis, 
#     layout_hovermode = 'closest',
#     layout_hoverdistance = -1,
    layout_autosize=False,
    layout_width=800,
    layout_height=600,
    layout_font = dict(family="Calibri Light"),
    layout_title_font = dict(family="Calibri"),
    layout_hoverlabel_font = dict(family="Calibri Light"),
#     plot_bgcolor="white",
)
 
# pio.templates.default = 'seaborn+ck_template+gridon'
pio.templates.default = 'ck_template+gridon'
# pio.templates.default = 'seaborn+gridon'
# pio.templates

In [11]:
df = pd.read_csv('../../datasets/UNSW_NB15_testing-set.csv')

In [12]:
df.head()

   id       dur proto service state  spkts  dpkts  sbytes  dbytes       rate  sttl  dttl         sload          dload  sloss  dloss      sinpkt      dinpkt          sjit          djit  swin       stcpb       dtcpb  dwin    tcprtt    synack    ackdat  smean  dmean  trans_depth  response_body_len  ct_srv_src  ct_state_ttl  ct_dst_ltm  ct_src_dport_ltm  ct_dst_sport_ltm  ct_dst_src_ltm  is_ftp_login  ct_ftp_cmd  ct_flw_http_mthd  ct_src_ltm  ct_srv_dst  is_sm_ips_ports attack_cat  label
0   1  0.121478   tcp       -   FIN      6      4     258     172  74.087490   252   254  14158.942380    8495.365234      0      0   24.295600    8.375000     30.177547     11.830604   255   621772692  2202533631   255  0.000000  0.000000  0.000000     43     43            0                  0           1             0           1                 1                 1               1             0           0                 0           1           1                0     Normal      0
1   2  0.649902   tcp       -   FIN     14     38     734   42014  78.473372    62   252   8395.112305  503571.312500      2     17   49.915000   15.432865     61.426934   1387.778330   255  1417884146  3077387971   255  0.000000  0.000000  0.000000     52   1106            0                  0          43             1           1                 1                 1               2             0           0                 0           1           6                0     Normal      0
2   3  1.623129   tcp       -   FIN      8     16     364   13186  14.170161    62   252   1572.271851   60929.230470      1      6  231.875571  102.737203  17179.586860  11420.926230   255  2116150707  2963114973   255  0.111897  0.061458  0.050439     46    824            0                  0           7             1           2                 1                 1               3             0           0                 0           2           6                0     Normal      0
3   4  1.681642   tcp     ftp   FIN     12     12     628     770  13.677108    62   252   2740.178955    3358.622070      1      3  152.876547   90.235726    259.080172   4991.784669   255  1107119177  1047442890   255  0.000000  0.000000  0.000000     52     64            0                  0           1             1           2                 1                 1               3             1           1                 0           2           1                0     Normal      0
4   5  0.449454   tcp       -   FIN     10      6     534     268  33.373826   254   252   8561.499023    3987.059814      2      1   47.750333   75.659602   2415.837634    115.807000   255  2436137549  1977154190   255  0.128381  0.071147  0.057234     53     45            0                  0          43             1           2                 2                 1              40             0           0                 0           2          39                0     Normal      0

In [13]:
list_drop = ['id','attack_cat']
df.drop(list_drop,axis=1,inplace=True)

In [124]:
# Clamp extreme Values
df_numeric = df.select_dtypes(include=[np.number])
df_numeric.describe(include='all')

                dur         spkts         dpkts        sbytes        dbytes          rate          sttl          dttl         sload         dload         sloss         dloss        sinpkt        dinpkt          sjit           djit         swin         stcpb         dtcpb         dwin        tcprtt        synack        ackdat         smean         dmean   trans_depth  response_body_len    ct_srv_src  ct_state_ttl    ct_dst_ltm  ct_src_dport_ltm  ct_dst_sport_ltm  ct_dst_src_ltm  is_ftp_login    ct_ftp_cmd  ct_flw_http_mthd    ct_src_ltm    ct_srv_dst  is_sm_ips_ports         label
count  82332.000000  82332.000000  82332.000000  8.233200e+04  8.233200e+04  8.233200e+04  82332.000000  82332.000000  8.233200e+04  8.233200e+04  82332.000000  82332.000000  82332.000000  82332.000000  8.233200e+04   82332.000000  82332.00000  8.233200e+04  8.233200e+04  82332.00000  82332.000000  82332.000000  82332.000000  82332.000000  82332.000000  82332.000000       8.233200e+04  82332.000000  82332.000000  82332.000000      82332.000000      82332.000000    82332.000000  82332.000000  82332.000000      82332.000000  82332.000000  82332.000000     82332.000000  82332.000000
mean       1.006756     18.666472     17.545936  7.993908e+03  1.323379e+04  8.241089e+04    180.967667     95.713003  6.454902e+07  6.305470e+05      4.753692      6.308556    755.394301    121.701284  6.363075e+03     535.180430    133.45908  1.084642e+09  1.073465e+09    128.28662      0.055925      0.029256      0.026669    139.528604    116.275069      0.094277       1.595372e+03      9.546604      1.369273      5.744923          4.928898          3.663011        7.456360      0.008284      0.008381          0.129743      6.468360      9.164262         0.011126      0.550600
std        4.710444    133.916353    115.574086  1.716423e+05  1.514715e+05  1.486204e+05    101.513358    116.667722  1.798618e+08  2.393001e+06     64.649620     55.708021   6182.615732   1292.378499  5.672402e+04    3635.305383    127.35700  1.390860e+09  1.381996e+09    127.49137      0.116022      0.070854      0.055094    208.472063    244.600271      0.542922       3.806697e+04     11.090289      1.067188      8.418112          8.389545          5.915386       11.415191      0.091171      0.092485          0.638683      8.543927     11.121413         0.104891      0.497436
min        0.000000      1.000000      0.000000  2.400000e+01  0.000000e+00  0.000000e+00      0.000000      0.000000  0.000000e+00  0.000000e+00      0.000000      0.000000      0.000000      0.000000  0.000000e+00       0.000000      0.00000  0.000000e+00  0.000000e+00      0.00000      0.000000      0.000000      0.000000     24.000000      0.000000      0.000000       0.000000e+00      1.000000      0.000000      1.000000          1.000000          1.000000        1.000000      0.000000      0.000000          0.000000      1.000000      1.000000         0.000000      0.000000
25%        0.000008      2.000000      0.000000  1.140000e+02  0.000000e+00  2.860611e+01     62.000000      0.000000  1.120247e+04  0.000000e+00      0.000000      0.000000      0.008000      0.000000  0.000000e+00       0.000000      0.00000  0.000000e+00  0.000000e+00      0.00000      0.000000      0.000000      0.000000     57.000000      0.000000      0.000000       0.000000e+00      2.000000      1.000000      1.000000          1.000000          1.000000        1.000000      0.000000      0.000000          0.000000      1.000000      2.000000         0.000000      0.000000
50%        0.014138      6.000000      2.000000  5.340000e+02  1.780000e+02  2.650177e+03    254.000000     29.000000  5.770032e+05  2.112951e+03      1.000000      0.000000      0.557929      0.010000  1.762392e+01       0.000000    255.00000  2.788886e+07  2.856975e+07    255.00000      0.000551      0.000441      0.000080     65.000000     44.000000      0.000000       0.000000e+00      5.000000      1.000000      2.000000          1.000000          1.000000        3.000000      0.000000      0.000000          0.000000      3.000000      5.000000         0.000000      1.000000
75%        0.719360     12.000000     10.000000  1.280000e+03  9.560000e+02  1.111111e+05    254.000000    252.000000  6.514286e+07  1.585808e+04      3.000000      2.000000     63.409444     63.136369  3.219332e+03     128.459914    255.00000  2.171310e+09  2.144205e+09    255.00000      0.105541      0.052596      0.048816    100.000000     87.000000      0.000000       0.000000e+00     11.000000      2.000000      6.000000          4.000000          3.000000        6.000000      0.000000      0.000000          0.000000      7.000000     11.000000         0.000000      1.000000
max       59.999989  10646.000000  11018.000000  1.435577e+07  1.465753e+07  1.000000e+06    255.000000    253.000000  5.268000e+09  2.082111e+07   5319.000000   5507.000000  60009.992000  57739.240000  1.483831e+06  463199.240100    255.00000  4.294950e+09  4.294881e+09    255.00000      3.821465      3.226788      2.928778   1504.000000   1500.000000    131.000000       5.242880e+06     63.000000      6.000000     59.000000         59.000000         38.000000       63.000000      2.000000      2.000000         16.000000     60.000000     62.000000         1.000000      1.000000

In [125]:
for feature in df_numeric.columns:
    if df_numeric[feature].max()>10*df_numeric[feature].median() and df_numeric[feature].max()>10 :
        df[feature] = np.where(df[feature]<df[feature].quantile(0.95), df[feature], df[feature].quantile(0.95))

In [126]:
df_numeric = df.select_dtypes(include=[np.number])
df_numeric.describe(include='all')

                dur        spkts         dpkts        sbytes        dbytes           rate          sttl          dttl         sload         dload         sloss         dloss        sinpkt        dinpkt          sjit          djit         swin         stcpb         dtcpb         dwin        tcprtt        synack        ackdat         smean         dmean   trans_depth  response_body_len    ct_srv_src  ct_state_ttl    ct_dst_ltm  ct_src_dport_ltm  ct_dst_sport_ltm  ct_dst_src_ltm  is_ftp_login    ct_ftp_cmd  ct_flw_http_mthd    ct_src_ltm    ct_srv_dst  is_sm_ips_ports         label
count  82332.000000  82332.00000  82332.000000  82332.000000  82332.000000   82332.000000  82332.000000  82332.000000  8.233200e+04  8.233200e+04  82332.000000  82332.000000  82332.000000  82332.000000  82332.000000  82332.000000  82332.00000  8.233200e+04  8.233200e+04  82332.00000  82332.000000  82332.000000  82332.000000  82332.000000  82332.000000  82332.000000       82332.000000  82332.000000  82332.000000  82332.000000      82332.000000      82332.000000    82332.000000  82332.000000  82332.000000      82332.000000  82332.000000  82332.000000     82332.000000  82332.000000
mean       0.445016     11.84186      9.178424   1580.566135   2866.918367   71576.702810    180.967667     95.713003  4.649418e+07  3.105380e+05      2.188068      2.542729     37.836042     33.982038   1920.889858    199.566224    133.45908  1.074064e+09  1.062670e+09    128.28662      0.055925      0.029256      0.026669    124.772822    100.240891      0.092091           9.643063      9.259887      1.369273      5.269591          4.466611          3.388901        7.160679      0.008284      0.008381          0.092066      5.974809      8.832532         0.011126      0.550600
std        0.672222     15.66461     14.504212   2948.850472   7525.606738  102631.946851    101.513358    116.667722  7.417784e+07  8.918691e+05      3.057946      4.767511     57.658385     52.184248   2900.509949    520.285264    127.35700  1.368335e+09  1.358850e+09    127.49137      0.116022      0.070854      0.055094    148.294212    184.094183      0.289156          35.977508     10.221752      1.067188      6.729755          6.685037          5.029129       10.481621      0.091171      0.092485          0.289121      6.867156     10.124902         0.104891      0.497436
min        0.000000      1.00000      0.000000     24.000000      0.000000       0.000000      0.000000      0.000000  0.000000e+00  0.000000e+00      0.000000      0.000000      0.000000      0.000000      0.000000      0.000000      0.00000  0.000000e+00  0.000000e+00      0.00000      0.000000      0.000000      0.000000     24.000000      0.000000      0.000000           0.000000      1.000000      0.000000      1.000000          1.000000          1.000000        1.000000      0.000000      0.000000          0.000000      1.000000      1.000000         0.000000      0.000000
25%        0.000008      2.00000      0.000000    114.000000      0.000000      28.606114     62.000000      0.000000  1.120247e+04  0.000000e+00      0.000000      0.000000      0.008000      0.000000      0.000000      0.000000      0.00000  0.000000e+00  0.000000e+00      0.00000      0.000000      0.000000      0.000000     57.000000      0.000000      0.000000           0.000000      2.000000      1.000000      1.000000          1.000000          1.000000        1.000000      0.000000      0.000000          0.000000      1.000000      2.000000         0.000000      0.000000
50%        0.014138      6.00000      2.000000    534.000000    178.000000    2650.176667    254.000000     29.000000  5.770032e+05  2.112951e+03      1.000000      0.000000      0.557929      0.010000     17.623918      0.000000    255.00000  2.788886e+07  2.856975e+07    255.00000      0.000551      0.000441      0.000080     65.000000     44.000000      0.000000           0.000000      5.000000      1.000000      2.000000          1.000000          1.000000        3.000000      0.000000      0.000000          0.000000      3.000000      5.000000         0.000000      1.000000
75%        0.719360     12.00000     10.000000   1280.000000    956.000000  111111.107200    254.000000    252.000000  6.514286e+07  1.585808e+04      3.000000      2.000000     63.409444     63.136369   3219.332412    128.459914    255.00000  2.171310e+09  2.144205e+09    255.00000      0.105541      0.052596      0.048816    100.000000     87.000000      0.000000           0.000000     11.000000      2.000000      6.000000          4.000000          3.000000        6.000000      0.000000      0.000000          0.000000      7.000000     11.000000         0.000000      1.000000
max        2.403792     60.00000     54.000000  12472.000000  30622.000000  333333.321500    255.000000    253.000000  2.666667e+08  3.741446e+06     11.000000     18.000000    204.530258    167.626851   9532.382646   2218.933526    255.00000  3.876194e+09  3.862459e+09    255.00000      3.821465      3.226788      2.928778    638.000000    683.000000      1.000000         150.450000     37.000000      6.000000     25.000000         25.000000         18.000000       37.000000      2.000000      2.000000          1.000000     25.000000     36.000000         1.000000      1.000000

In [127]:
df_numeric = df.select_dtypes(include=[np.number])
df_before = df_numeric.copy()
for feature in df_numeric.columns:
    if df_numeric[feature].nunique()>50:
        if df_numeric[feature].min()==0:
            df[feature] = np.log(df[feature]+1)
        else:
            df[feature] = np.log(df[feature])

df_numeric = df.select_dtypes(include=[np.number])

In [128]:
df_cat = df.select_dtypes(exclude=[np.number])
df_cat.describe(include='all')

        proto service  state
count   82332   82332  82332
unique    131      13      7
top       tcp       -    FIN
freq    43095   47153  39339

In [129]:
for feature in df_cat.columns:
    ###only use feature that appear more that 6 times
    if df_cat[feature].nunique()>6:
        print(feature)
        df[feature] = np.where(df[feature].isin(df[feature].value_counts().head().index), df[feature], f'{feature}_rest')

proto
service
state

In [130]:
df_cat = df.select_dtypes(exclude=[np.number])
df_cat.describe(include='all')

        proto service  state
count   82332   82332  82332
unique      6       6      6
top       tcp       -    FIN
freq    43095   47153  39339

In [131]:
# Feature Selection
from sklearn.feature_selection import SelectKBest, chi2

best_features = SelectKBest(score_func=chi2,k='all')

X = df.iloc[:,4:-2]
y = df.iloc[:,-1]
fit = best_features.fit(X,y)

df_scores=pd.DataFrame(fit.scores_)
df_col=pd.DataFrame(X.columns)

feature_score=pd.concat([df_col,df_scores],axis=1)
feature_score.columns=['feature','score']
feature_score.sort_values(by=['score'],ascending=True,inplace=True)

fig = go.Figure(go.Bar(
            x=feature_score['score'][0:21],
            y=feature_score['feature'][0:21],
            orientation='h'))

fig.update_layout(title="Top 20 Features",
                  height=1200,
                  showlegend=False,
                 )

fig.show()

In [132]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [133]:
feature_names = list(X.columns)
np.shape(X)

(82332, 42)

In [134]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1,2,3])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [135]:
feature_names

['dur',
 'proto',
 'service',
 'state',
 'spkts',
 'dpkts',
 'sbytes',
 'dbytes',
 'rate',
 'sttl',
 'dttl',
 'sload',
 'dload',
 'sloss',
 'dloss',
 'sinpkt',
 'dinpkt',
 'sjit',
 'djit',
 'swin',
 'stcpb',
 'dtcpb',
 'dwin',
 'tcprtt',
 'synack',
 'ackdat',
 'smean',
 'dmean',
 'trans_depth',
 'response_body_len',
 'ct_srv_src',
 'ct_state_ttl',
 'ct_dst_ltm',
 'ct_src_dport_ltm',
 'ct_dst_sport_ltm',
 'ct_dst_src_ltm',
 'is_ftp_login',
 'ct_ftp_cmd',
 'ct_flw_http_mthd',
 'ct_src_ltm',
 'ct_srv_dst',
 'is_sm_ips_ports']

In [136]:
df_cat['state'].value_counts()

FIN           39339
INT           34163
CON            6982
REQ            1842
ACC               4
state_rest        2
Name: state, dtype: int64

In [137]:
df_cat['service'].value_counts()

-               47153
dns             21367
http             8287
service_rest     2122
smtp             1851
ftp              1552
Name: service, dtype: int64

In [140]:
df_cat['proto'].value_counts()

tcp           43095
udp           29418
proto_rest     4641
unas           3515
arp             987
ospf            676
Name: proto, dtype: int64

In [142]:
for label in list(df_cat['state'].value_counts().index)[::-1][1:]:
    feature_names.insert(0,label)
    
for label in list(df_cat['service'].value_counts().index)[::-1][1:]:
    feature_names.insert(0,label)
    
for label in list(df_cat['proto'].value_counts().index)[::-1][1:]:
    feature_names.insert(0,label)

In [143]:
len(feature_names)

57

In [149]:
feature_names[5] = "service_not_determined"

In [150]:
feature_names

['tcp',
 'udp',
 'proto_rest',
 'unas',
 'arp',
 'service_not_determined',
 'dns',
 'http',
 'service_rest',
 'smtp',
 'FIN',
 'INT',
 'CON',
 'REQ',
 'ACC',
 'dur',
 'proto',
 'service',
 'state',
 'spkts',
 'dpkts',
 'sbytes',
 'dbytes',
 'rate',
 'sttl',
 'dttl',
 'sload',
 'dload',
 'sloss',
 'dloss',
 'sinpkt',
 'dinpkt',
 'sjit',
 'djit',
 'swin',
 'stcpb',
 'dtcpb',
 'dwin',
 'tcprtt',
 'synack',
 'ackdat',
 'smean',
 'dmean',
 'trans_depth',
 'response_body_len',
 'ct_srv_src',
 'ct_state_ttl',
 'ct_dst_ltm',
 'ct_src_dport_ltm',
 'ct_dst_sport_ltm',
 'ct_dst_src_ltm',
 'is_ftp_login',
 'ct_ftp_cmd',
 'ct_flw_http_mthd',
 'ct_src_ltm',
 'ct_srv_dst',
 'is_sm_ips_ports']