In [1]:
import numpy as np
import pandas as pd

from IPython.core.display import display, HTML
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.io as pio


import seaborn as sns
from importlib import reload
import matplotlib.pyplot as plt
import matplotlib
import warnings

/tmp/ipykernel_31518/2804676670.py:4: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [2]:
# Configure Jupyter Notebook
pd.set_option('display.max_columns', None) 
pd.set_option('display.max_rows', 500) 
pd.set_option('display.expand_frame_repr', False)
# pd.set_option('max_colwidth', -1)
display(HTML("<style>div.output_scroll { height: 35em; }</style>"))

reload(plt)
%matplotlib inline
%config InlineBackend.figure_format ='retina'

warnings.filterwarnings('ignore')

# configure plotly graph objects
pio.renderers.default = 'iframe'
pio.renderers.default = 'vscode'

pio.templates["ck_template"] = go.layout.Template(
    layout_colorway = px.colors.sequential.Viridis, 
#     layout_hovermode = 'closest',
#     layout_hoverdistance = -1,
    layout_autosize=False,
    layout_width=800,
    layout_height=600,
    layout_font = dict(family="Calibri Light"),
    layout_title_font = dict(family="Calibri"),
    layout_hoverlabel_font = dict(family="Calibri Light"),
#     plot_bgcolor="white",
)
 
# pio.templates.default = 'seaborn+ck_template+gridon'
pio.templates.default = 'ck_template+gridon'
# pio.templates.default = 'seaborn+gridon'
# pio.templates

In [6]:
df = pd.read_csv('../../datasets/UNSW_NB15_train-set.csv')

In [7]:
df.head()

   id       dur proto service state  spkts  dpkts  sbytes  dbytes       rate  sttl  dttl         sload          dload  sloss  dloss      sinpkt      dinpkt          sjit          djit  swin       stcpb       dtcpb  dwin    tcprtt    synack    ackdat  smean  dmean  trans_depth  response_body_len  ct_srv_src  ct_state_ttl  ct_dst_ltm  ct_src_dport_ltm  ct_dst_sport_ltm  ct_dst_src_ltm  is_ftp_login  ct_ftp_cmd  ct_flw_http_mthd  ct_src_ltm  ct_srv_dst  is_sm_ips_ports attack_cat  label
0   1  0.121478   tcp       -   FIN      6      4     258     172  74.087490   252   254  14158.942380    8495.365234      0      0   24.295600    8.375000     30.177547     11.830604   255   621772692  2202533631   255  0.000000  0.000000  0.000000     43     43            0                  0           1             0           1                 1                 1               1             0           0                 0           1           1                0     Normal      0
1   2  0.649902   tcp       -   FIN     14     38     734   42014  78.473372    62   252   8395.112305  503571.312500      2     17   49.915000   15.432865     61.426934   1387.778330   255  1417884146  3077387971   255  0.000000  0.000000  0.000000     52   1106            0                  0          43             1           1                 1                 1               2             0           0                 0           1           6                0     Normal      0
2   3  1.623129   tcp       -   FIN      8     16     364   13186  14.170161    62   252   1572.271851   60929.230470      1      6  231.875571  102.737203  17179.586860  11420.926230   255  2116150707  2963114973   255  0.111897  0.061458  0.050439     46    824            0                  0           7             1           2                 1                 1               3             0           0                 0           2           6                0     Normal      0
3   4  1.681642   tcp     ftp   FIN     12     12     628     770  13.677108    62   252   2740.178955    3358.622070      1      3  152.876547   90.235726    259.080172   4991.784669   255  1107119177  1047442890   255  0.000000  0.000000  0.000000     52     64            0                  0           1             1           2                 1                 1               3             1           1                 0           2           1                0     Normal      0
4   5  0.449454   tcp       -   FIN     10      6     534     268  33.373826   254   252   8561.499023    3987.059814      2      1   47.750333   75.659602   2415.837634    115.807000   255  2436137549  1977154190   255  0.128381  0.071147  0.057234     53     45            0                  0          43             1           2                 2                 1              40             0           0                 0           2          39                0     Normal      0

In [8]:
list_drop = ['id','attack_cat']
df.drop(list_drop,axis=1,inplace=True)

In [9]:
# Clamp extreme Values
df_numeric = df.select_dtypes(include=[np.number])
df_numeric.describe(include='all')

                 dur          spkts          dpkts        sbytes        dbytes          rate           sttl           dttl         sload         dload          sloss          dloss         sinpkt         dinpkt          sjit           djit           swin         stcpb         dtcpb           dwin         tcprtt         synack         ackdat          smean          dmean    trans_depth  response_body_len     ct_srv_src   ct_state_ttl     ct_dst_ltm  ct_src_dport_ltm  ct_dst_sport_ltm  ct_dst_src_ltm   is_ftp_login     ct_ftp_cmd  ct_flw_http_mthd     ct_src_ltm     ct_srv_dst  is_sm_ips_ports          label
count  175341.000000  175341.000000  175341.000000  1.753410e+05  1.753410e+05  1.753410e+05  175341.000000  175341.000000  1.753410e+05  1.753410e+05  175341.000000  175341.000000  175341.000000  175341.000000  1.753410e+05  175341.000000  175341.000000  1.753410e+05  1.753410e+05  175341.000000  175341.000000  175341.000000  175341.000000  175341.000000  175341.000000  175341.000000       1.753410e+05  175341.000000  175341.000000  175341.000000     175341.000000     175341.000000   175341.000000  175341.000000  175341.000000     175341.000000  175341.000000  175341.000000    175341.000000  175341.000000
mean        1.359389      20.298664      18.969591  8.844844e+03  1.492892e+04  9.540619e+04     179.546997      79.609567  7.345403e+07  6.712056e+05       4.953000       6.948010     985.976864      88.216296  4.976254e+03     604.353826     116.257339  9.692504e+08  9.688770e+08     115.013625       0.041396       0.021020       0.020375     136.751769     124.173382       0.105982       2.144292e+03       9.306437       1.304179       6.193936          5.383538          4.206255        8.729881       0.014948       0.014948          0.133066       6.955789       9.100758         0.015752       0.680622
std         6.480249     136.887597     110.258271  1.747656e+05  1.436542e+05  1.654010e+05     102.940011     110.506863  1.883574e+08  2.421312e+06      66.005059      52.732999    7242.245841     987.093195  4.496585e+04    4061.043281     127.001024  1.355264e+09  1.354000e+09     126.886530       0.079354       0.043400       0.040506     204.677360     258.317056       0.776911       5.420797e+04      10.704331       0.954406       8.052476          8.047104          5.783585       10.956186       0.126048       0.126048          0.701208       8.321493      10.756952         0.124516       0.466237
min         0.000000       1.000000       0.000000  2.800000e+01  0.000000e+00  0.000000e+00       0.000000       0.000000  0.000000e+00  0.000000e+00       0.000000       0.000000       0.000000       0.000000  0.000000e+00       0.000000       0.000000  0.000000e+00  0.000000e+00       0.000000       0.000000       0.000000       0.000000      28.000000       0.000000       0.000000       0.000000e+00       1.000000       0.000000       1.000000          1.000000          1.000000        1.000000       0.000000       0.000000          0.000000       1.000000       1.000000         0.000000       0.000000
25%         0.000008       2.000000       0.000000  1.140000e+02  0.000000e+00  3.278614e+01      62.000000       0.000000  1.305334e+04  0.000000e+00       0.000000       0.000000       0.008000       0.000000  0.000000e+00       0.000000       0.000000  0.000000e+00  0.000000e+00       0.000000       0.000000       0.000000       0.000000      57.000000       0.000000       0.000000       0.000000e+00       2.000000       1.000000       1.000000          1.000000          1.000000        1.000000       0.000000       0.000000          0.000000       2.000000       2.000000         0.000000       0.000000
50%         0.001582       2.000000       2.000000  4.300000e+02  1.640000e+02  3.225807e+03     254.000000      29.000000  8.796748e+05  1.447023e+03       0.000000       0.000000       0.279733       0.006000  0.000000e+00       0.000000       0.000000  0.000000e+00  0.000000e+00       0.000000       0.000000       0.000000       0.000000      73.000000      44.000000       0.000000       0.000000e+00       5.000000       1.000000       2.000000          1.000000          1.000000        3.000000       0.000000       0.000000          0.000000       3.000000       4.000000         0.000000       1.000000
75%         0.668069      12.000000      10.000000  1.418000e+03  1.102000e+03  1.250000e+05     254.000000     252.000000  8.888889e+07  2.784487e+04       3.000000       2.000000      55.156896      51.053000  2.513295e+03     114.990625     255.000000  1.916651e+09  1.913675e+09     255.000000       0.065481       0.023268       0.038906     100.000000      89.000000       0.000000       0.000000e+00      12.000000       2.000000       7.000000          5.000000          3.000000       12.000000       0.000000       0.000000          0.000000       9.000000      12.000000         0.000000       1.000000
max        59.999989    9616.000000   10974.000000  1.296523e+07  1.465555e+07  1.000000e+06     255.000000     254.000000  5.988000e+09  2.242273e+07    4803.000000    5484.000000   84371.496000   56716.824000  1.460480e+06  289388.269700     255.000000  4.294959e+09  4.294882e+09     255.000000       2.518893       2.100352       1.520884    1504.000000    1458.000000     172.000000       6.558056e+06      63.000000       6.000000      51.000000         51.000000         46.000000       65.000000       4.000000       4.000000         30.000000      60.000000      62.000000         1.000000       1.000000

In [10]:
for feature in df_numeric.columns:
    if df_numeric[feature].max()>10*df_numeric[feature].median() and df_numeric[feature].max()>10 :
        df[feature] = np.where(df[feature]<df[feature].quantile(0.95), df[feature], df[feature].quantile(0.95))

In [11]:
df_numeric = df.select_dtypes(include=[np.number])
df_numeric.describe(include='all')

                 dur          spkts          dpkts         sbytes         dbytes           rate           sttl           dttl         sload         dload          sloss          dloss         sinpkt         dinpkt           sjit           djit           swin         stcpb         dtcpb           dwin         tcprtt         synack         ackdat          smean          dmean    trans_depth  response_body_len     ct_srv_src   ct_state_ttl     ct_dst_ltm  ct_src_dport_ltm  ct_dst_sport_ltm  ct_dst_src_ltm   is_ftp_login     ct_ftp_cmd  ct_flw_http_mthd     ct_src_ltm     ct_srv_dst  is_sm_ips_ports          label
count  175341.000000  175341.000000  175341.000000  175341.000000  175341.000000  175341.000000  175341.000000  175341.000000  1.753410e+05  1.753410e+05  175341.000000  175341.000000  175341.000000  175341.000000  175341.000000  175341.000000  175341.000000  1.753410e+05  1.753410e+05  175341.000000  175341.000000  175341.000000  175341.000000  175341.000000  175341.000000  175341.000000      175341.000000  175341.000000  175341.000000  175341.000000     175341.000000     175341.000000   175341.000000  175341.000000  175341.000000     175341.000000  175341.000000  175341.000000    175341.000000  175341.000000
mean        0.467065      12.617323      10.006792    1697.289989    3648.210481   80957.198684     179.546997      79.609567  5.327025e+07  3.654831e+05       2.154630       3.029765      37.149345      29.464980    1682.831478     252.900753     116.257339  9.571385e+08  9.568256e+08     115.013625       0.041396       0.021020       0.020375     122.279478     112.609065       0.101745           9.849391       9.084264       1.304179       5.793283          4.903263          4.145226        8.505609       0.014948       0.014948          0.101745       6.624788       8.882760         0.015752       0.680622
std         0.816099      17.574046      16.840623    3266.805316    9675.446827  108507.397039     102.940011     110.506863  7.771134e+07  1.011632e+06       3.293608       6.159003      64.856251      49.122669    2824.169851     717.301377     127.001024  1.328074e+09  1.326927e+09     126.886530       0.079354       0.043400       0.040506     143.490588     215.656329       0.302313          38.245594      10.088830       0.954406       6.791916          6.544978          5.589185       10.339146       0.126048       0.126048          0.302313       7.307812      10.154088         0.124516       0.466237
min         0.000000       1.000000       0.000000      28.000000       0.000000       0.000000       0.000000       0.000000  0.000000e+00  0.000000e+00       0.000000       0.000000       0.000000       0.000000       0.000000       0.000000       0.000000  0.000000e+00  0.000000e+00       0.000000       0.000000       0.000000       0.000000      28.000000       0.000000       0.000000           0.000000       1.000000       0.000000       1.000000          1.000000          1.000000        1.000000       0.000000       0.000000          0.000000       1.000000       1.000000         0.000000       0.000000
25%         0.000008       2.000000       0.000000     114.000000       0.000000      32.786140      62.000000       0.000000  1.305334e+04  0.000000e+00       0.000000       0.000000       0.008000       0.000000       0.000000       0.000000       0.000000  0.000000e+00  0.000000e+00       0.000000       0.000000       0.000000       0.000000      57.000000       0.000000       0.000000           0.000000       2.000000       1.000000       1.000000          1.000000          1.000000        1.000000       0.000000       0.000000          0.000000       2.000000       2.000000         0.000000       0.000000
50%         0.001582       2.000000       2.000000     430.000000     164.000000    3225.806520     254.000000      29.000000  8.796748e+05  1.447023e+03       0.000000       0.000000       0.279733       0.006000       0.000000       0.000000       0.000000  0.000000e+00  0.000000e+00       0.000000       0.000000       0.000000       0.000000      73.000000      44.000000       0.000000           0.000000       5.000000       1.000000       2.000000          1.000000          1.000000        3.000000       0.000000       0.000000          0.000000       3.000000       4.000000         0.000000       1.000000
75%         0.668069      12.000000      10.000000    1418.000000    1102.000000  125000.000300     254.000000     252.000000  8.888889e+07  2.784487e+04       3.000000       2.000000      55.156896      51.053000    2513.295019     114.990625     255.000000  1.916651e+09  1.913675e+09     255.000000       0.065481       0.023268       0.038906     100.000000      89.000000       0.000000           0.000000      12.000000       2.000000       7.000000          5.000000          3.000000       12.000000       0.000000       0.000000          0.000000       9.000000      12.000000         0.000000       1.000000
max         3.079511      64.000000      62.000000   13662.000000   39076.000000  333333.321500     255.000000     254.000000  2.666667e+08  4.071050e+06      12.000000      24.000000     245.212857     160.491672    9505.475298    3054.771518     255.000000  3.814196e+09  3.813017e+09     255.000000       2.518893       2.100352       1.520884     638.000000     786.000000       1.000000         166.000000      33.000000       6.000000      24.000000         22.000000         17.000000       33.000000       4.000000       4.000000          1.000000      26.000000      33.000000         1.000000       1.000000

In [12]:
df_numeric = df.select_dtypes(include=[np.number])
df_before = df_numeric.copy()
for feature in df_numeric.columns:
    if df_numeric[feature].nunique()>50:
        if df_numeric[feature].min()==0:
            df[feature] = np.log(df[feature]+1)
        else:
            df[feature] = np.log(df[feature])

df_numeric = df.select_dtypes(include=[np.number])

In [13]:
df_cat = df.select_dtypes(exclude=[np.number])
df_cat.describe(include='all')

         proto service   state
count   175341  175341  175341
unique     133      13       9
top        tcp       -     INT
freq     79946   94168   82275

In [14]:
for feature in df_cat.columns:
    ###only use feature that appear more that 6 times
    if df_cat[feature].nunique()>6:
        print(feature)
        df[feature] = np.where(df[feature].isin(df[feature].value_counts().head().index), df[feature], f'{feature}_rest')

proto
service
state

In [15]:
df_cat = df.select_dtypes(exclude=[np.number])
df_cat.describe(include='all')

         proto service   state
count   175341  175341  175341
unique       6       6       6
top        tcp       -     INT
freq     79946   94168   82275

In [16]:
# Feature Selection
from sklearn.feature_selection import SelectKBest, chi2

best_features = SelectKBest(score_func=chi2,k='all')

X = df.iloc[:,4:-2]
y = df.iloc[:,-1]
fit = best_features.fit(X,y)

df_scores=pd.DataFrame(fit.scores_)
df_col=pd.DataFrame(X.columns)

feature_score=pd.concat([df_col,df_scores],axis=1)
feature_score.columns=['feature','score']
feature_score.sort_values(by=['score'],ascending=True,inplace=True)

fig = go.Figure(go.Bar(
            x=feature_score['score'][0:21],
            y=feature_score['feature'][0:21],
            orientation='h'))

fig.update_layout(title="Top 20 Features",
                  height=1200,
                  showlegend=False,
                 )

fig.show()

In [17]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [18]:
feature_names = list(X.columns)
np.shape(X)

(175341, 42)

In [19]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1,2,3])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [20]:
feature_names

['dur',
 'proto',
 'service',
 'state',
 'spkts',
 'dpkts',
 'sbytes',
 'dbytes',
 'rate',
 'sttl',
 'dttl',
 'sload',
 'dload',
 'sloss',
 'dloss',
 'sinpkt',
 'dinpkt',
 'sjit',
 'djit',
 'swin',
 'stcpb',
 'dtcpb',
 'dwin',
 'tcprtt',
 'synack',
 'ackdat',
 'smean',
 'dmean',
 'trans_depth',
 'response_body_len',
 'ct_srv_src',
 'ct_state_ttl',
 'ct_dst_ltm',
 'ct_src_dport_ltm',
 'ct_dst_sport_ltm',
 'ct_dst_src_ltm',
 'is_ftp_login',
 'ct_ftp_cmd',
 'ct_flw_http_mthd',
 'ct_src_ltm',
 'ct_srv_dst',
 'is_sm_ips_ports']

In [27]:
df_cat['state'].value_counts()

INT           82275
FIN           77825
CON           13152
REQ            1991
RST              83
state_rest       15
Name: state, dtype: int64

In [22]:
df_cat['service'].value_counts()

-               94168
dns             47294
http            18724
service_rest     6102
smtp             5058
ftp-data         3995
Name: service, dtype: int64

In [23]:
df_cat['proto'].value_counts()

tcp           79946
udp           63283
proto_rest    14574
unas          12084
arp            2859
ospf           2595
Name: proto, dtype: int64

In [142]:
for label in list(df_cat['state'].value_counts().index)[::-1][1:]:
    feature_names.insert(0,label)
    
for label in list(df_cat['service'].value_counts().index)[::-1][1:]:
    feature_names.insert(0,label)
    
for label in list(df_cat['proto'].value_counts().index)[::-1][1:]:
    feature_names.insert(0,label)

In [32]:
list(df_cat['state'].value_counts().index)[::-1]

['state_rest', 'RST', 'REQ', 'CON', 'FIN', 'INT']

In [33]:
list(df_cat['service'].value_counts().index)[::-1]

['ftp-data', 'smtp', 'service_rest', 'http', 'dns', '-']

In [34]:
list(df_cat['proto'].value_counts().index)[::-1]

['ospf', 'arp', 'unas', 'proto_rest', 'udp', 'tcp']

In [35]:
len(feature_names)

42

In [149]:
feature_names[5] = "service_not_determined"

In [150]:
feature_names

['tcp',
 'udp',
 'proto_rest',
 'unas',
 'arp',
 'service_not_determined',
 'dns',
 'http',
 'service_rest',
 'smtp',
 'FIN',
 'INT',
 'CON',
 'REQ',
 'ACC',
 'dur',
 'proto',
 'service',
 'state',
 'spkts',
 'dpkts',
 'sbytes',
 'dbytes',
 'rate',
 'sttl',
 'dttl',
 'sload',
 'dload',
 'sloss',
 'dloss',
 'sinpkt',
 'dinpkt',
 'sjit',
 'djit',
 'swin',
 'stcpb',
 'dtcpb',
 'dwin',
 'tcprtt',
 'synack',
 'ackdat',
 'smean',
 'dmean',
 'trans_depth',
 'response_body_len',
 'ct_srv_src',
 'ct_state_ttl',
 'ct_dst_ltm',
 'ct_src_dport_ltm',
 'ct_dst_sport_ltm',
 'ct_dst_src_ltm',
 'is_ftp_login',
 'ct_ftp_cmd',
 'ct_flw_http_mthd',
 'ct_src_ltm',
 'ct_srv_dst',
 'is_sm_ips_ports']